nav {
  background-color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

li {
  color: #565656;
  padding: 0.2em;
  padding-top: 10px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3cqw;
}

a:link {
  color: #565656;
  text-decoration: none;
}
a:visited {
  color: #565656;
  text-decoration: none;
}

#screen {
  background-image: url(/img/b2.png);
  aspect-ratio: 9/20;
  max-width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#box {
  width: 70cqw;
  height: 80cqw;
  background-color: white;
  position: absolute;
  left: 12%;
  padding-top: 20%;
}
#box img {
  width: 20%;
  position: absolute;
  left: 41%;
  top: 65%;
}

h1,
h2,
h3,
p {
  margin-left: 3%;
  font-size: 7cqw;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  color: #565656;
  margin-bottom: -7%;
}

h3 {
  font-size: 5cqw;
  margin-top: 10%;
}

p {
  font-size: 2cqw;
  padding-top: 50px;
}
#content h2 {
  font-size: 4cqw;
  margin-top: 15%;
}

#box1 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 10%;
}
#box2 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 25%;
}

#box3 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 40%;
}
#box4 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 55%;
}

#box5 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 70%;
}
#box6 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 85%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

footer {
  background-color: white;
  height: 200px;
}

#presentationskort {
  background-color: white;
  aspect-ratio: 9/16;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}

#studiestartsprov {
  background-color: white;
  aspect-ratio: 9/16;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}
#stockholm {
  background-color: white;
  aspect-ratio: 9/16;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}
#spel {
  background-color: white;
  aspect-ratio: 9/16;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}
#passionsite {
  background-color: white;
  aspect-ratio: 9/16;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}

#verksamhetssite {
  background-color: white;
  aspect-ratio: 9/16;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}

#close1 img,
#close2 img,
#close3 img,
#close4 img,
#close5 img,
#close6 img {
  width: 8%;
  height: 8%;
  aspect-ratio: 1/1;
  position: absolute;
  left: 85%;
  top: 2%;
}

@media (min-width: 900px) {
  #screen {
    background-image: url(/img/b2.png);
    aspect-ratio: 16/9;
    max-width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  #box {
    width: 60cqw;
    height: 30cqw;
    background-color: white;
    position: absolute;
    left: 20%;
    padding-top: 10%;
  }

  #box img {
    width: 7%;
    position: absolute;
    left: 48%;
    top: 70%;
  }

  h1,
  h2,
  h3,
  p {
    margin-left: 3%;
    font-size: 3cqw;
    text-align: center;
    font-family: "Inter", serif;
    font-style: normal;
    color: #565656;
    margin-bottom: -5%;
  }

  h3 {
    font-size: 2cqw;
  }

  li {
    font-size: 1.2cqw;
  }
  p {
    font-size: 1.5cqw;
    padding-top: 50px;
    font-weight: 500;
    padding-bottom: 50px;
  }

  #box1 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 10%;
    top: 15%;
  }
  #box2 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 37.5%;
    top: 15%;
  }
  #box3 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 65%;
    top: 15%;
  }
  #box4 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 10%;
    top: 50%;
  }
  #box5 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 37.5%;
    top: 50%;
  }
  #box6 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 65%;
    top: 50%;
  }

  #content h2 {
    font-size: 1.5cqw;
    margin-top: 27%;
  }

  #presentationskort {
    background-color: white;
    aspect-ratio: 16/9;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  #studiestartsprov {
    background-color: white;
    aspect-ratio: 16/9;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  #stockholm {
    background-color: white;
    aspect-ratio: 16/9;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  #spel {
    background-color: white;
    aspect-ratio: 16/9;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  #passionsite {
    background-color: white;
    aspect-ratio: 16/9;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  #verksamhetssite {
    background-color: white;
    aspect-ratio: 16/9;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }

  #close1 img,
  #close2 img,
  #close3 img,
  #close4 img,
  #close5 img,
  #close6 img {
    width: 4%;
    height: 4%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 94%;
    top: 4%;
  }
}

.hide {
  display: none;
}

.fall {
  animation-name: fall;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes fall {
  from {
    translate: 0 -110%;
  }
  to {
    translate: 0 0%;
  }
}
