nav {
  background-color: white;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

li {
  color: #565656;
  padding: 0.2em;
  padding-top: 10px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3cqw;
}

nav a:link {
  color: #565656;
  text-decoration: none;
}
nav a:visited {
  color: #565656;
  text-decoration: none;
}

#screen {
  background-image: url(/img/b2.png);
  aspect-ratio: 9/20;
  max-width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#box {
  width: 70cqw;
  height: 80cqw;
  background-color: white;
  position: absolute;
  left: 12%;
  padding-top: 20%;
}
#box img {
  width: 17%;
  position: absolute;
  left: 43%;
  top: 67%;
}

.indextext h3 {
  margin-top: -1.5%;
  font-size: 4cqw;
}

.indextext h2 {
  margin-top: -3%;
  font-size: 4.5cqw;
}

h1,
h3 {
  margin-left: 3%;
  font-size: 5cqw;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  color: #565656;
  margin-top: 20%;
}

h2 {
  margin-left: 3%;
  font-size: 5cqw;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  color: #565656;
  margin-top: 2%;
}

h3 {
  font-size: 5cqw;
  margin-top: 10%;
}

p {
  font-size: 2.7cqw;
  font-family: "Inter", serif;
  font-style: normal;
  color: #565656;
}
#content h2 {
  font-size: 4cqw;
  margin-top: 15%;
}

#box1 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 10%;
}
#box2 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 25%;
}

#box3 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 40%;
}
#box4 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 55%;
}

#box5 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 70%;
}
#box6 {
  background-color: white;
  width: 70cqw;
  height: 25cqw;
  position: absolute;
  left: 13%;
  top: 85%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3%;
  left: 0;
}

footer {
  background-color: white;
  max-width: 100%;
  text-align: center;
}

footer p {
  font-size: 2.5cqw;
  font-weight: 500;
  text-align: center;
}

.grid_1-1 {
  padding-left: 7%;
  padding-right: 7%;
}

#presentationskort {
  background-color: white;
  aspect-ratio: 9/22;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 3%;
}

.grid_1-1 img {
  max-width: 90%;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 4%;
}

iframe {
  width: 61cqw;
  height: 35cqw;
  padding-top: 2%;
  padding-left: 5%;
}
#studiestartsprov {
  background-color: white;
  aspect-ratio: 9/22;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}
#stockholm {
  background-color: white;
  aspect-ratio: 9/22;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}
#spel {
  background-color: white;
  aspect-ratio: 9/23;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}
#passionsite {
  background-color: white;
  aspect-ratio: 9/22;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}

#textpassion {
  max-width: 90ch;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  top: 1%;
}

#verksamhetssite {
  background-color: white;
  aspect-ratio: 9/22;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 5%;
}

#close1 img,
#close2 img,
#close3 img,
#close4 img,
#close5 img,
#close6 img {
  width: 8%;
  height: 8%;
  aspect-ratio: 1/1;
  position: absolute;
  left: 85%;
  top: 0%;
  padding-top: 0%;
}

.scroll-container img {
  max-height: 35cqw;
  width: auto;
}
.scroll-container4 img {
  max-height: 35cqw;
  width: auto;
}

.scroll-container2 img,
.scroll-container3 img {
  max-height: 35cqw;
  width: auto;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
  width: 85%;
  position: absolute;
  top: 77.5%;
  left: 5%;
  list-style-type: none;
}

.scroll-container4 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
  width: 85%;
  position: absolute;
  top: 75%;
  left: 5%;
  list-style-type: none;
}

.scroll-container2,
.scroll-container3 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
  width: 85%;
  position: absolute;
  top: 76.5%;
  left: 5%;
  list-style-type: none;
}

a {
  text-decoration: underline;
}

a:link {
  color: #565656;
}
a:visited {
  color: #565656;
  text-decoration: underline;
}

@media (min-width: 900px) {
  #screen {
    aspect-ratio: 16/12;
    max-width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  #box {
    width: 50cqw;
    height: 30cqw;
    background-color: white;
    position: absolute;
    left: 25%;
    padding-top: 7%;
    padding-bottom: 3%;
  }

  #box img {
    width: 7%;
    position: absolute;
    left: 48%;
    top: 65%;
  }

  h1,
  h2,
  h3 {
    margin-left: 3%;
    font-size: 3cqw;
    text-align: center;
    font-family: "Inter", serif;
    font-style: normal;
    color: #565656;
  }

  p {
    font-size: 1.2cqw;
    max-width: 65ch;
    /* text-align: center; */
    font-family: "Inter", serif;
    font-style: normal;
    color: #565656;
    margin-top: 0%;
  }

  #screen h1 {
    font-size: 3cqw;
    margin-top: 7%;
  }

  li {
    font-size: 1.2cqw;
  }

  #content {
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-image: url(/img/background1.webp);
    background-size: cover;
    overflow: hidden;
  }

  #box1 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 10%;
    top: 15%;
  }

  #box2 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 37.5%;
    top: 15%;
  }
  #box3 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 65%;
    top: 15%;
  }
  #box4 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 10%;
    top: 45%;
  }
  #box5 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 37.5%;
    top: 45%;
  }
  #box6 {
    background-color: white;
    width: 23cqw;
    height: 15cqw;
    position: absolute;
    left: 65%;
    top: 45%;
  }

  #content h2 {
    font-size: 1.5cqw;
    margin-top: 27%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
  }

  #presentationskort {
    background-color: white;
    aspect-ratio: 16/12;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 7.5%;
  }

  .grid_1-1 img {
    max-width: 94%;
    padding-bottom: 0%;
  }

  iframe {
    width: 35cqw;
    height: 20cqw;
    padding-top: 0%;
    padding-bottom: 4%;
  }

  #studiestartsprov {
    background-color: rgb(255, 255, 255);
    aspect-ratio: 16/12;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 7.5%;
  }
  #stockholm {
    background-color: white;
    aspect-ratio: 16/12;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 7.5%;
  }
  #spel {
    background-color: white;
    aspect-ratio: 16/12.5;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 6%;
  }
  #passionsite {
    background-color: white;
    aspect-ratio: 16/12;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 7.5%;
  }
  #verksamhetssite {
    background-color: white;
    aspect-ratio: 16/12;
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 7.5%;
    padding-left: 2%;
  }

  #close1 img,
  #close2 img,
  #close3 img,
  #close4 img,
  #close5 img,
  #close6 img {
    width: 4%;
    height: 4%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 94%;
    top: 3%;
    padding-top: 0%;
  }

  .scroll-container img,
  .scroll-container4 img {
    max-height: 22cqw;
    width: auto;
  }

  .scroll-container,
  .scroll-container4 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* overflow-y: hidden; */
    padding-left: 10px;
    width: 90%;
    position: absolute;
    top: 58%;
    left: 4.5%;
    list-style-type: none;
  }
  footer p {
    font-size: 1.2cqw;
    font-weight: 500;
    text-align: center;
    margin-left: 26%;
  }

  footer {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .scroll-container2 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 10px;
    width: 35%;
    height: 80%;
    position: absolute;
    top: 8%;
    left: 4.5%;
    list-style-type: none;
  }

  .scroll-container2 img {
    max-width: 100%;
    height: auto;
  }

  .scroll-container3 {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 10px;
    width: 40%;
    height: 70%;
    position: absolute;
    top: 17%;
    left: 52%;
    list-style-type: none;
  }
  .scroll-container3 img {
    max-width: 100%;
    height: auto;
  }

  #textpassion {
    position: absolute;
    left: 37%;
    top: 10%;
  }
  #textpassion h1 {
    text-align: left;
    margin-left: 0px;
  }

  .indextext h3 {
    margin-top: -1.5%;
    font-size: 2cqw;
  }

  .indextext h2 {
    margin-top: -3%;
    font-size: 2.5cqw;
  }
}

.hide {
  display: none;
}

.fall {
  animation-name: fall;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes fall {
  from {
    translate: 0 -110%;
  }
  to {
    translate: 0 0%;
  }
}
